* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #202020;
    color: white;
    font-family: Arial, monospaced;
}

a {
    color: #3b6ecb;
    font-size: 3rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

form {
    padding: 0;
    margin: 0;
}

#generate {
    background: #6ce0b8;
    border-radius: 9999px;
    border-style: none;
    padding: 1rem;
    font-size: 4rem;
}

input[type="text"] {
    width: 6rem;
    height: 6rem;
    font-size: 5rem;
}

.gold {
    color: #fffb29;
}

div * {
    margin: 1.5rem;
}