<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classic</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div>
    <h1>Classic</h1>
    <h2 id="numbers"></h2>
    <form action="">
        <input id="1" type="text">
        <input id="2" type="text">
        <input id="3" type="text">
        <input id="4" type="text">
        <input id="5" type="text">
        <input id="6" type="text"><br>
        <button id="generate">Generate Numbers</button>
    </form>
    <a href="/">Home</a>
</div>
<script defer src="/classic.js">
</script>
</body>
</html>