<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${game}"></title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div>
    <h1 th:text="${game}" id="title"></h1>
    <a href="/">Home</a>
    <div th:if="${game == 'Classic'}">
        <span th:each="number: ${numbers}" th:text="${number}"></span>
    </div>
    <div th:if="${game == 'Eurojackpot'}">
        <span th:text="${numbers[0]}"></span>
        <span th:text="${numbers[1]}"></span>
        <span th:text="${numbers[2]}"></span>
        <span th:text="${numbers[3]}"></span>
        <span th:text="${numbers[4]}"></span>
        <span th:text="${numbers[5]}" class="super"></span>
        <span th:text="${numbers[6]}" class="super"></span>
    </div>
    <div th:if="${warning}" class="warning" th:text="${msg}"></div>
    <form th:action="${game.toLowerCase()}" modelAttribute="numbers" method="post">
        <input type="text" name="number1" th:value="${bad[0]}" />
        <input type="text" name="number2" th:value="${bad[1]}" />
        <input type="text" name="number3" th:value="${bad[2]}" />
        <input type="text" name="number4" th:value="${bad[3]}" />
        <input type="text" name="number5" th:value="${bad[4]}" />
        <input type="text" name="number6" th:value="${bad[5]}" />
        <br>
        <input type="submit" value="Generate Numbers">
    </form>
</div>
</body>
</html>
