<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eurojackpot</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div>
    <h1 th:text="${game}" id="title"></h1>
    <h2 id="numbers"></h2>
    <button onclick="f()">Generate Numbers</button>
</div>
<script defer>
    async function f() {
        const heading = document.getElementById('numbers');
        const game = document.getElementById('title').innerHTML.toLowerCase();
        const response = await fetch('/api/v1/' + game);
        const json = await response.json();
        heading.innerHTML = json.join(' ');
    }
    f();
</script>
</body>
</html>