<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eurojackpot</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div>
    <h1 th:text="${game}" id="title"></h1>
    <h2 th:text="${numbers}"></h2>
    <form th:action="${game.toLowerCase()}" modelAttribute="numbers" method="post">
        <input type="text" name="number1" th:value="${bad[0]}" />
        <input type="text" name="number2" th:value="${bad[1]}" />
        <input type="text" name="number3" th:value="${bad[2]}" />
        <input type="text" name="number4" th:value="${bad[3]}" />
        <input type="text" name="number5" th:value="${bad[4]}" />
        <input type="text" name="number6" th:value="${bad[5]}" />
        <br>
        <input type="submit" value="Generate Numbers">
    </form>
</div>
</body>
</html>
